@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500;700&display=swap');
:root{
    --main-color: #deab5f;
    --primary-color: #312e2e;
}
button{
    padding: 10px 30px;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
}
/* css reset */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #100e0f;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    padding-top: 15px;
}
nav li{
    display: inline;
    list-style-type: none;
    
}
nav li a{
    text-decoration: none;
    color: #fff;
    margin-left: 40px;
    padding-block-end: 10px;
}
nav li a:hover{
    border-block-end: 2px solid var(--main-color);
}
header{
    background: url(images/banner2.jpg );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.main-heading{
    position: absolute;
    top: 10rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-block-end: -40px;
}
.primary-heading{
    position: absolute;
    word-spacing: 10px;
    bottom: 8rem;
    font-size: 4rem;
    margin-block-end: -40px; 
}
.main-btn{
     position: absolute;
     bottom: 2rem;
     padding: 10px 30px;
     margin-block-start: 20px;
     background: transparent;
     background: var(--main-color);
     transform: translateY(60);
}
#our-story{
    margin-block-start: 15%;
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.img{
    width: 400px;
    height: 400px;
    background: url(images/banner.png);
    background-position: center;
    background-size: cover;
}
.story-title{
    display: flex;
    align-items: center;
}
.title{
    font-family: 'Playfair Display', serif;
    transform: translateX(-100px);
    font-size: 4rem;
    color: #fff;
}
.line{
    width: 100px;
    height: 2px;
    background-color: #fff;
    transform: translateX(-120px);
}
.section-content p{
    max-width: 500px;
    color: #fff;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;
}
.coffee-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block-start: 10rem;
}
.content-section p{
    max-width: 500px;
    font-family: sans-serif;
    color: #fff;
    margin-block: 20px;
    
}
.coffee2{
    width: 400px;
    height: 400px;

}
.story-title{
    font-size: 2.5rem;
    color: #fff;
    font-family: 'Playfair Display', serif;
    
}

.products{
    margin-block-start: 5rem;

}
.story-title2{
    font-size: 4rem;
    margin-inline-start: 10rem;
    margin-block: 10rem;

}
.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card{
    border: 2px solid var(--main-color);
    padding: 0 20px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    position: relative;
    margin-block-end: 4rem;
}
.card-img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;
}
.img-1{
    background: url(images/coffee1.png);
    background-position: center;
    background-size: cover;
}
.img-2{
    background: url(images/coffee-cup2.png);
    background-position: center;
    background-size: cover;
}
.img-3{
    background: url(images/coffee-cup3.png);
    background-position: center;
    background-size: cover;
}
.card-title{
    color: white;
    font-family: sans-serif;
    margin-block-start: 50px;
}
.items p{
    color: #fff;
    margin: 20px 0;
    font-family: sans-serif;
}
footer{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
}
footer .container{
    margin: 20px;
    max-width: 300px;
    text-align: center;
}
footer .heading-info{
    margin-block-end: 20px;
}
footer p{
    line-height: 25px;
}
span{
    color: var(--main-color);
}
/* Media Query */
@media only screen and (max-width: 768px){
    .main-heading, .primary-heading{
        font-size: 2.5rem;
    }
    #our-story .title{
        transform: translateX(50px);
    }
    #our-story .line{
        display: none;
    }
    .section-content{
        text-align: center;

    }
    #our-story .img-container .img{
        width: 70%;
        text-align: center;
        margin: 0 auto;

    }
    .coffee-container .img-container{
        margin-top: 5rem;
        width: 30%;
    }
    .content-section{
        padding-inline-start: 20px;
    }
    .title{
        margin: 0 auto;
    }
    .story-title2{
        margin-inline-start: 15rem;
        margin-block-end: 5rem;
        font-size: 3rem;
        
    }
    footer{
        margin-block-start: 20px;
        color: rgba(255, 255, 255, 0.68);
    }

}
